<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  ${functionName} Mapper XML
  由 smart-codegen 于 ${today} 生成，作者：${functionAuthor}
-->
<mapper namespace="${packageName}.${moduleName}.mapper.${className}Mapper">

    <resultMap id="BaseResultMap" type="${packageName}.${moduleName}.entity.${className}">
#foreach($column in $columns)
#if($column.isPk)
        <id column="${column.columnName}" property="${column.javaField}" />
#else
        <result column="${column.columnName}" property="${column.javaField}" />
#end
#end
    </resultMap>

    <sql id="Base_Column_List">
#set($size = $columns.size() - 1)
#foreach($column in $columns)#if($foreach.index < $size)${column.columnName}, #else${column.columnName}#end
#end
    </sql>

</mapper>
