package ${packageName}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.${moduleName}.entity.${className};

/**
 * ${functionName} Service 接口。
 *
 * <p>由 smart-codegen 于 ${today} 生成，作者：${functionAuthor}。
 */
public interface ${className}Service extends IService<${className}> {
}
